<% if @user %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_sumary", user: @user %>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @activities.any? %>
        <h3><%= t "activities"%></h3>
        <hr>
        <%= render partial: "shared/activity", collection: @activities %>
        <%= will_paginate @activities %>
      <% end %>
    </div>
  </div>
<% else %>
  <h1><%= t "welcome" %></h1>
<% end %>
